.posts-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}
.input--title_finder {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  margin: 20px 20px 0 20px;
  border: none;
  background: var(--second-color);
  color: var(--main-bg-color);
}

.loader {
  position: fixed;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
}
