@import url(./shared.module.css);

.navbar {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px 0;
  background: linear-gradient(
    180deg,
    var(--main-bg-color) 0%,
    var(--main-bg-color-brighter) 100%
  );
}
.profile--container {
  display: flex;
  flex-direction: column;
}
.profile--image {
  width: auto;
  height: 300px;
}
ul {
  /* background-color: aqua; */
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 10px 10px;
  flex-direction: row;
}

.social--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.social--label {
  font-size: 1.5rem;
}
.social--title {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 25px;
  color: var(--main-bg-color);
  width: auto;
  padding: 10px;
  margin: 20px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.social--title:hover {
  transform: scale(1.1);
}
