.post--container {
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  padding: 3%;
  margin: 0 2%;
}

.title--article {
  color: var(--text-color);
  font-size: 40px;
}

.image {
  width: auto;
  height: 300px;
}
