.dropdown--container {
  transform: translateY(23px);
  font-size: 15px;
  padding: 14px 12px 0 12px;
  border-radius: 10px;
  color: var(--text-color);
  background: var(--main-bg-color-input);
  width: 100%;
  height: 50px;
  border: none;
}
.dropdown--input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.dropdown--menu {
  position: absolute;
  transform: translate(-10px, 140px);
  max-height: 200px;
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  color: var(--text-color);
  background: var(--main-bg-color-input);
  overflow: auto;
}

.dropdown--item {
  border-bottom: 1px solid var(--main-bg-color);
  margin-bottom: 15px;
  border-radius: 6px;
  padding: 8px;
  cursor: pointer;
}

.dropdown--item:hover {
  filter: brightness(70%);
}

.selected {
  background-color: var(--main-bg-color);
}
