.container--like-dislike {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-container {
  display: flex;
  flex-direction: "row";
  align-items: center;
  padding: 30px 15px;
  border-radius: 12px;
}

.btn {
  border: none;
  color: #fff;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: var(--second-color);
  border-radius: 4px;
  padding: 6px 15px;
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.btn:hover {
  transform: scale(1.1);
}

.react-icons {
  font-size: 20px;
}

.like-active {
  background-color: var(--like-button);
}

.dislike-active {
  background-color: var(--dislike-button);
}
